img {
    width: 350px;
    margin-top: 4rem;
}

.completed {
    text-decoration: line-through;
    opacity: 0.4;
}

.todosListWrapper {
    margin-bottom: 6rem;
}

@media screen and (max-width: 600px) {
    .todoList {
        width: 95% !important;
    }

    img {
        width: 220px;
    }

    .textField {
        min-width: 100% !important;
    }
}